/node_modules
/elm-stuff
/index.html
/index.js
/test/samples/elm/elm-stuff
/test/samples/elm/index.html
/test/single-pass/elm-stuff
/test/single-pass/index.html
*f_o_o_b_a_r_test*.elm
*f_o_o_b_a_r_test*.js
